
*{
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, span{
  font-family: "Roboto Slab", serif;
}

.hero {
  background-image: url("../public/hero.png");
  background-attachment: fixed;
  height: 90vh;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 12rem;
  background-position: center;
}